img {
    width: 100%;
}

body {
    background-color: #842730;
}

h1 {
    display: flex;
    flex-direction: row;
    justify-content: center;

    margin-top: 1.5em;
    margin-bottom: inherit;
    color: #fff4e8;
    font-size: 3rem;

    font-size: 4rem;
    letter-spacing: 6px;

    font-family: 'Unica One', cursive;
}

h2 {
    font-family: 'Noto Sans KR', sans-serif;
    font-weight: 700;
}

h3 {
    font-family: 'Noto Sans KR', sans-serif;
}

h5 {
    margin: inherit;
}

h4 {
    font-size: 6rem;
    color: #842730;

    font-family: 'Odibee Sans', cursive;
}

h6 {
    margin: inherit;
    font-weight: 400;
    font-size: 1.3rem;

}

p {
    font-family: 'Noto Sans KR', sans-serif;
}

footer {
    height: 100px;

}


/*----------header------------*/
.nav {
    display: flex;
    flex-direction: row;
    justify-content: center;
    position: relative;
    top: 6vw;
}


button {
    font-size: 1rem;

    padding: 0.5em;

    background: none;
    border-color: #fff4e8;
    margin: 0.5em;
    color: #fff4e8;
}

button:hover {
    background-color: #fff4e8;
    color: #842730;
}

.red {
    background-color: #fff4e8;
    color: #842730;
}

nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    min-height: 5vw;



    background-color: #fff4e8;
    ;
    position: fixed;
    width: 100%;
    top: 0px;
    left: 0;
    margin-bottom: 1vw;
    box-shadow: 0px 0px 15px rgba(69, 69, 69, 0.69);

    z-index: 1;
}

.nav_right {
    display: flex;
    flex-direction: row;

}

.logo {
    color: #842730;
    font-size: 2.4rem;
    font-family: 'Odibee Sans', cursive;

    letter-spacing: 3px;
}

a {
    text-decoration: none;
    color: black;
    font-size: 2rem;
    padding: 0.5em;
    font-family: 'Noto Sans KR', sans-serif;
    text-transform: uppercase;

}

a:hover {
    color: #842730;
}


/*----------header SLUT------------*/
